.basket-add__btn {
    
    padding:  20px 49px; 
    color: #ffffff; 
    font-size: 20px; 
    border-radius: 4px; 
    border: 0;
    display: flex;
    gap: 15px;
    align-items:center; 
    width: 100%;
    justify-content: center;
    
}

.basket-add__btn::before {
    content:"";
    background-image: url("../../../public/basket.svg");
    height: 24px;
    width: 24px;
    background-position: center;
    background-repeat: no-repeat;

}

.btn-orange {
    background: #F36223; 
}

.btn-gray {
    background: #888888; 
}

@media (max-width: 1440px) {
    .basket-add__btn {
        padding:  20px 10px; 
    }
}