
a {
    text-decoration: none;
}


.header { 
    margin-bottom: 19px;
    position: fixed; 
    top: 0;
    height: 80px;
    background: #F8FAFE;
    width: 100%;
    border-bottom: 1px solid #010541;
    
}

.inner{
    display: flex; 
    justify-content: space-between;
    margin: auto;  
    max-width: 1400px;
    padding: 0 50px;
}

.left {
    display: flex; 
   
}

.logo {
    width: 36.5px; 
    height: 43px; 
    margin-top: 18.5px; 
    margin-right: 8px;
}

.h1 {
    margin: 0;  
    margin-top: 19px; 
    line-height: 53px; 
    font-size: 44px;
    color: #000000;
}

.leftSpan {
    color: #F36223;
}

.right {
    display: flex;
    flex-direction: row;
}
.basket, .heart { /*для родителя задаю relative*/
    position: relative;
}
.basketImg, .heartImg {
    width: 34px;
    height: 34px;
    position: relative;
    padding-top: 25px;
    padding-right: 37px;
}

.heartRound, .basketRound {
    width: 20px;
    position: absolute;
    top: 25px;
    left: 24px;
}

.basketSpan, .heartSpan {
    position: absolute;
    top: 26px;
    left: 29px;
    color: #ffffff;
    font-weight: 700;
}

@media (max-width: 400px) {
    .h1 {
        font-size: 32px;
        gap: 0;
    }
    .inner {
        padding: 0 15px;
    }
    .basketImg, .heartImg {
        width: 26px;
        height: 26px;
        padding-top: 30px;
        padding-right: 10px;
    }
    .heartRound, .basketRound {
        width: 18px;
        top: 25px;
        left: 18px;
    }
    
    .basketSpan, .heartSpan {
        left: 22px;
    }
}
