.table__caracteristic {
    border-collapse: collapse;
    min-width: 876px;
}

.table__caracteristic, .table__head {
    border: 1px solid #888888;
}

.table__data { 
    border-right: 1px solid #888888;;
}

.table__data, .table__head {
    padding: 10px;
}

.table__row_hovered:hover {
    background-color: #F0F0F0;
}

.btn:hover {
    cursor: pointer;
}

.heading3 {
    font-size: 16px; 
    margin-top: 30px;
}