.sidebar {
    max-width: 420px;
    margin-top: 30px;
    flex-shrink: 0;
}

.price {
    background-color: #ffffff; 
    border: 1px solid #EEEEEE; 
    padding: 20px; 
    border-radius: 20px; 
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.old-price {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    margin-bottom: 10px; 
    justify-content: space-between;
}

.old-price-info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.old-price-info__span {
    color: #888888;
}

.old-price-info__btn {
    color: #ffffff; 
    background: #F36223; 
    border-radius: 500px; 
    padding: 4px 8px; 
    border: 0; 
    font-size: 16px; 
}

.new-price {
    font-size: 32px;
}

.delivery__span {
    font-weight: 700;
}

.delivery {
    margin-bottom: 35px;
}

.advertise__span {
    color: #888888; 
    display: block; 
    margin-bottom: 10px;
}

.advertise-frame {
    display: flex; 
    flex-direction: column; 
    gap: 15px;
}

.advertise-frame__iframe {
    box-sizing: border-box; 
    border: 1px dashed #888888; 
    width: auto;
    border: 1px dashed #cccccc;
    background: rgb(224, 222, 222);
}

@media (max-width: 400px) {
    .advertise {
        display: none;
    }
}

