html, body {
    font-family: sans-serif; 
    font-size: 16px; 
    background: #F8FAFE;
    margin: 0;

} 

*:focus {
    outline:none;
}

.container {
    margin: auto;
    max-width: 1400px;
    padding: 0 50px;
}

.a:link {
    color: #008CF0;
    text-decoration: none;
}

.a:hover {
    color: #F36223;
}

.a:active {
    color: #A93A09;
}

/******************** Фото товара ********************/  

.block-photo__h2 {
    font-size: 32px;
}

.iphone-blue-all-photo {
    display: flex;
    gap: 10px;
}

.iphone-blue__img {
    max-height: 387px; 
    max-width:100%;
} 

/******************** Главный контент ********************/  
.main-info {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

/******************** Левый блок с описанием и отзывами ********************/  
.main-side {
    display: flex; 
    flex-direction: column;
    flex-grow: 1;
}

.heading3 {
    font-size: 16px; 
    margin-top: 30px;
}

.caracteristic-ul__ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 0 0 20px;
    gap: 10px;
    padding-left: 25px;
    list-style-image: url("../../../public/marker.png");
} 

.caracteristic-text__p {
    line-height: 19.36px;
}

.btn-orange:hover {
    background:  #DA4A0C;
}

.btn-orange:active {
    background:  #A93A09;
}

.all-reviews {
    margin-top: 50px;
}

.head-reviews {
    display: flex;
    gap: 20px;
    margin-bottom: -12px;
}



.head-reviews-span__span {
    display:block;
    margin: 20px auto;
    color: #888888;
    font-weight: 700;;
}

@media (max-width: 1499px) {
    .container {
        padding: 0 15px;
    }
    .review-img__img {
        width: 100px;
        height: 100px;
    }
    .rating-img__gold-star {
        height: 20px;
    }
}

@media (max-width: 1100px) {
    .main-info {
        gap: 40px;
    }
    .sidebar {
        max-width: 360px;
    }
    .basket-add__btn {
        padding: 20px 60px;
    }
    .table {
        display: none;
    }
}
@media (max-width: 1300px) {
    .form-inner {
        padding-left: 0;
    }
    .form {
         margin-left: 0;
    }
}

@media (min-width: 1500px) {
    .form {
        margin-left:  230px;
    }
}

@media (max-width: 1024px) {
    .main-side {
        max-width:  594px;
    }
}

@media (max-width: 400px) {
    .main-info {
        flex-direction: column;
        gap: 0;
    }

    .sidebar {
        max-width: 338px;
        order:1;
        height: 325px;
    }

    .main-side {
        order:2;
    }

    .container {
        padding: 15px;
        margin: 0;
    }
    
    .hidden {
        display: none;
    }

    .head-reviews-h3__h3 {
        margin-bottom: 0;
    }

}
