.navigation {
    margin-top: 100px;
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
    align-items: center; 
    padding: 8px 0; 
    gap: 4px;
}
.lastBreadcrumb {
    display:none;
}

.a {
    white-space: nowrap;
}